# Ignore node_modules (cần thiết)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore môi trường & config
.env
.env.local
.env.development
.env.test
.env.production

# Ignore output logs
logs/
*.log
log/


# Ignore build files
dist/
build/
out/

# Ignore IDE & hệ thống file
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore cache
.cache/

API.md
DATABASE.md

# Ignore fake data
src/fake_data/